.box {
  width: min-content;
  position: relative;
  border-radius: 22px;
  left: -36px;
}
.firstBox {
  width: min-content;
  position: relative;
  border-radius: 22px;

}

.block {
  position: relative;
  border-radius: 22px;
  cursor: pointer;
}
