* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 35px;
  box-sizing: border-box;
  height: 100vh;
  background: rgb(134, 135, 243);
  background: linear-gradient(
    29deg,
    rgba(134, 135, 243, 1) 4%,
    rgba(134, 135, 243, 1) 19%,
    rgba(194, 57, 205, 1) 45%,
    rgba(238, 59, 166, 1) 73%,
    rgba(250, 115, 162, 1) 95%
  )  fixed;
}
