* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;

}

body {
  margin: 0;
  padding: 35px;
  box-sizing: border-box;
  height: 100vh;
  background-color: #fff !important;
}


/* .ant-progress-steps-item-active {
  width: 30px !important; 
} */

/* .ant-progress-steps-item {
  width: 50px !important;
} */